# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
db.sqlite3
*.log
*.pot
*.mo
*.po
local_settings.py

# Archivos Python cacheados
__pycache__/
*.py[cod]
*$py.class

# Entorn virtual
venv/
.env
node_modules/

# Django static collected
staticfiles/

# Tailwind CSS compilat (generat automàticament)
static/css/output.css

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
