<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if app_title %}{{ app_title }} - {% endif %}Projecte VI{% endblock %}</title>
</head>
<body>
    {% include "includes/nav.html" %}

    <main>
        {% if app_title %}
        <h1>{{ app_title }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}
</body>
</html>
